* {
  font-family: 'Noto Serif KR', serif;
  text-align: center;
}

.qnaBox {
  position: relative;
  height: 100vh;
}

.qBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.qBox .qnaQ {
  font-size: 1.3rem;
}

.qna__button {
  border-radius: 10px;
  background-color: white;
}

.qna__bottomBanner {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.status {
  height: 20px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
}

.statusBar {
  height: 100%;
  border-radius: 20px;
  background-color: black;
}
